html {
  font-size: 18px;
  background: none;
  font-family: Avenir, Avenir Next LT Pro, Montserrat, Corbel, URW Gothic, source-sans-pro, sans-serif;
  color: #3c2e56;
}

@media (min-width: 600px) {
  html {
    font-size: 20px;
  }
  /* div#BodyTitle,
  body#bookingpage.testing p {
  } */
}

body {
  margin: 0;
}

.errorText {
  color: red;
}

p.errorText {
  padding: 0 1em 1.5em 1em;
}

#processingForm {
  padding: 0 1em 1.5em 1em;
}

#wrapperdiv {}

#wrapperdiv > *:not(#BodyTitle) {
  max-width: 51.25rem;
  margin: 0 auto;
}

div#BodyTitle,
body#bookingpage.testing p {
  box-sizing: border-box;
  /* from nsb-maroon to nsb-dark */
  /* https: //www.joshwcomeau.com/gradient-generator */
  background-image: url(logo.webp), linear-gradient(25deg,
      hsl(346deg 46% 36%) 0%,
      hsl(339deg 50% 32%) 6%,
      hsl(332deg 53% 28%) 13%,
      hsl(324deg 56% 24%) 21%,
      hsl(315deg 58% 21%) 30%,
      hsl(303deg 58% 17%) 42%,
      hsl(288deg 61% 15%) 55%,
      hsl(271deg 65% 14%) 70%,
      hsl(254deg 73% 13%) 85%,
      hsl(240deg 100% 10%) 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: 24px 12px, left;
  background-size: 144px, auto;
  height: 170px;
  width: 100%;
  font-size: 1.5rem;
  font-weight: normal;
  color: white;
  padding: 1rem 1.25rem 1rem 11rem;
  text-align: right;
  vertical-align: unset;
}

body#bookingpage.testing p {
  height: 210px;
}

@media (max-width: 600px) {
  div#BodyTitle,
  body#bookingpage.testing p {
    background-position: center 12px, left;
    height: 210px;
    font-size: 1.25rem;
    padding: 9rem 1rem 1rem 1rem;
    text-align: center;
  }
}

.sectionWrapper {
  float: left;
  position: inherit;
  padding: 0 0rem 1.5rem 0rem;
}

.sectionHeader {
  font-size: 1.5rem;
  color: #353535;
  margin-bottom: 0.5em;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

p,
ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
}

a {
  color: #3c2e56;
  text-decoration-line: underline;
  text-decoration-color: #d8d5dd;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

a:hover {
  text-decoration-color: #3c2e56;
}

.fieldwrapper {
  min-height: 2rem;
  position: relative;
  padding-right: 250px;
}

.itemdescriptioncell,
.inputcell {
  display: inline-block;
}

.itemdescriptioncell {
  line-height: 1.0rem;
}

.inputcell {
  position: absolute;
  right: 0;
  line-height: 1.0rem;
}

ul.radiogroup {
  list-marker-style: none;
}

ul.radiogroup li {
  display: inline-block;
  float: left;
}

input,
textarea,
select {
  min-width: 15em;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding: 4px;
  border-color: rgb(166, 166, 166);
}

select {
  height: 1.5rem;
  background-color: white;
}

#addendum {
  padding: 1.0rem;
  clear: both;
}

#bookagain {
  padding: 1rem 0;
}

#returntobooking {
  margin-bottom: 2rem;
}

/* item specific css */
div[id*=_Address] {
  height: 3.0rem;
}

textarea {
  height: 2.75rem;
}

input[type=submit],
input[type=button] {
  cursor: pointer;
  size: 2em;
  color: white;
  background: #3c2e56;
  margin: 1em auto;
  padding: 0.7em 1em;
  box-sizing: border-box;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border: none;

}

#Introduction {
  padding: 0 1rem;
}

#Introduction p {
  padding: 0 0 1rem;
}

#form_RegisterForm,
#layoutTable {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

#Register {
  margin-bottom: 0;
}

input[type=submit]:hover,
input[type=button]:hover {
  background: #3c2e56;
}

/* tabbed radioGroups! */
ul.radioGroup {
  list-style-type: none;
  position: relative;
  min-height: 1.0em;
  clear: both;
  margin: 0.10em 0 0.10em 0.10em;
  font-size: 0.9em;
  padding-left: 0;
  border: none;
}

ul.radioGroup li {
  float: left;
}

ul.radioGroup li:first-child label {
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  margin-right: 3px;
}

ul.radioGroup li:last-child label {
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

input[type=radio]+label {
  background: #d8d5dd;
  padding: 0.2em 1em;
  margin-left: -1px;
  position: relative;
  left: 1px;
  cursor: pointer;
  border: none;
}

li [type=radio] {
  display: none !important;
}

input[type=radio]:checked+label {
  background: #3c2e56;
  z-index: 2;
  color: white;
}

input[type="checkbox"] {
  min-width: auto;
}

.sCostSummary input[type=button]:first-child {
  background: #cccccc;
  color: black;
}

#bookingpage #wrapperdiv {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  margin-bottom: 30px;
}

#bookingpage #wrapperdiv #addendum {
  padding: 0;
}

#bookingpage #wrapperdiv #Introduction {
  padding: 1rem 0 0 0;
}

#bookingpage #wrapperdiv>div:not(#BodyTitle) {
  padding-left: 1rem;
  padding-right: 1rem;
}

#returntobookingbottom {
  margin-top: 20px;
}

div.captionCell p:not(:first-child) {
  line-height: 0.6;
}

div[id*='indented'] {
  margin-left: 23px;
  margin-top: -.6rem;
}

div[id*='indented'] .inputcell {
  position: relative;
  margin-left: 10px;
  right: unset;
}

.informationInput {
  margin-bottom: 0.5rem
}
